<page-element name="friends">
	{% include 'navbar.html' with authenticated="true" %}
	<div class="container mt-5">
		<title>Friends</title>

		<h3>Friend requests sent:</h3>
		<div id="user-sent-friend-requests" class="row row-cols-2">
			<!-- Sent friend requests will populate here -->
		</div>
		
        <h3>Friend requests:</h3>
		<div id="user-friend-requests" class="row row-cols-2">
			<!-- Friend requests will populate here -->
		</div>

		<h3>Friends:</h3>
		<div id="user-friends" class="row row-cols-2">
			<!-- Friends will populate here -->
		</div>
		
		<h3 class="mt-4">Add a friend:</h3>
		<form method="GET" id="form-users" class="mb-4">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search..." name="username">
				<button class="btn btn-outline-secondary" type="submit">Search</button>
			</div>
		</form>

		<div id="user-search-result" class="row row-cols-2">
			<!-- Search results will populate here -->
		</div>
	</div>
</page-element>
