<page-element name="friends">
	{% include 'navbar.html' with authenticated="true" %}
	<div class="container py-4">
		<form method="GET" id="form-users">
			<div class="d-flex align-items-center mb-4">
				<!-- Search Bar Container -->
				<div class="input-group input-group-lg w-100">
					<input type="text" class="form-control form-control-lg" placeholder="Search Friends or Members" aria-label="Search" id="search-bar" name="username">
					<button class="btn btn-outline-primary" type="submit" id="search-btn">
						<i class="ti ti-search"></i> Search
					</button>
				</div>
			</div>
		</form>
		<div class="d-sm-flex align-items-center justify-content-between mt-3 mb-4">
			<h3 class="mb-3 mb-sm-0 fw-semibold d-flex align-items-center">Search Results<span class="badge text-bg-secondary fs-2 rounded-4 py-1 px-2 ms-2" id="members-count">0</span></h3>
		</div>
		<div id="search-results">
			<div id="friends-list" class="row">
				<!-- The results list will be populated here -->
			</div>
		</div>
		<div class="tab-pane fade show active" id="pills-friends" role="tabpanel" aria-labelledby="pills-friends-tab" tabindex="0">
			<div class="d-sm-flex align-items-center justify-content-between mt-3 mb-4">
				<h3 class="mb-3 mb-sm-0 fw-semibold d-flex align-items-center">Friends Requests<span class="badge text-bg-secondary fs-2 rounded-4 py-1 px-2 ms-2" id="requests-count">0</span></h3>
			</div>
			<div id="friend-requests">
				<!-- The friends list will be populated here -->
			</div>
		</div>
		<div class="tab-pane fade show active" id="pills-friends" role="tabpanel" aria-labelledby="pills-friends-tab" tabindex="0">
			<div class="d-sm-flex align-items-center justify-content-between mt-3 mb-4">
				<h3 class="mb-3 mb-sm-0 fw-semibold d-flex align-items-center">Sent Friend Requests<span class="badge text-bg-secondary fs-2 rounded-4 py-1 px-2 ms-2" id="requests-count">0</span></h3>
			</div>
			<div id="sent-friend-requests">
				<!-- The friends list will be populated here -->
			</div>
		</div>
		<div class="tab-pane fade show active" id="pills-friends" role="tabpanel" aria-labelledby="pills-friends-tab" tabindex="0">
			<div class="d-sm-flex align-items-center justify-content-between mt-3 mb-4">
				<h3 class="mb-3 mb-sm-0 fw-semibold d-flex align-items-center">Friends<span class="badge text-bg-secondary fs-2 rounded-4 py-1 px-2 ms-2" id="friends-count">0</span></h3>
			</div>
			<div id="friends">
				<!-- The friends list will be populated here -->
			</div>
		</div>
	</div>
</page-element>