{% load static %}
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#/home">Transcendence</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			{% if authenticated %}
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
						<span class="glyphicon glyphicon-user"></span> 
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#/profile">Profile</a></li>
						<li><a href="#/profile/friends">Friends</a></li>
						<li><a href="#">Settings</a></li>
						<li><a href="#/lobby">Game</a></li>
						<li><a href="#/logout">Logout</a></li>
					</ul>
				</li>
			{% else %}
				<!-- Links for users who are not logged in -->
				<li><a href="#/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			{% endif %}
		</ul>
	</div>
</nav>