<page-element name="pong">
	{% include 'navbar.html' with authenticated="true" %}
	<style>
		h1 {
			color: rgb(255, 255, 255);
			font-family: "Nunito", sans-serif;
			text-align: center;
			font-size: 3rem;
			/* font-weight: bold; */
			position: relative;
			top: 0px;
		}

		h2 {
			font-family: "Courier New", Courier, monospace;
			font-size: 4rem;
			margin: 0;
		}

		h3 {
			color: firebrick;
			font-family: "Courier New", Courier, monospace;
			text-align: center;
			font-size: 1rem;
			bottom: 0px;
			position: relative;
		}

		.player1 {
			color: red;
		}

		.player2 {
			color: blue;
		}

		.game-container {
			display: flex;
			justify-content: center;
			margin-top: 5px;
		}

		.canvas-container {
			position: relative;
			display: flex;
			flex-direction: column;
		}

		.canvas-item {
			border: 2px solid;
			border-image: linear-gradient(
					-80deg,
					rgb(73, 0, 128),
					rgb(228, 50, 252),
					rgb(73, 0, 128),
					rgb(228, 50, 252)
				)
				1;
		}

		.chat-container {
			display: flex;
			align-self: flex-start;
			justify-content: flex-end;
			flex-direction: column;
			height: 827px;
			width: 300px;
			min-width: 300px;
			margin-left: 20px;
			border: 2px solid;
			border-image: linear-gradient(
					-80deg,
					rgb(73, 0, 128),
					rgb(228, 50, 252),
					rgb(73, 0, 128),
					rgb(228, 50, 252)
				)
				1;
			padding: 5px;
			overflow-y: auto;
		}

		.chat-content {
			display: flex;
			height: 100%;
			overflow-y: auto;
			color: white;
			font-size: 15px;
			inline-size: 95%;
			word-break: break-all;
		}

		.chat-input-container {
			display: flex;
			padding: 10px;
		}

		.chat-input {
			border-radius: 25px;
			padding: 10px;
			width: 100%;
		}

		.info-container {
			display: flex;
			justify-content: space-around;
			border: 2px solid;
			margin-top: 7px;
			border-image: linear-gradient(
					-80deg,
					rgb(73, 0, 128),
					rgb(228, 50, 252),
					rgb(73, 0, 128),
					rgb(228, 50, 252)
				)
				1;
		}

		::-webkit-scrollbar {
			width: 2px;
			height: 2px;
		}

		::-webkit-scrollbar-thumb {
			background: linear-gradient(
				-80deg,
				rgb(73, 0, 128),
				rgb(228, 50, 252)
			);
		}

		#readyBtn {
			text-align: center;
			font-size: 1.5rem;
			background-color: linear-gradient(
				-80deg,
				black,
				rgb(23, 13, 113),
				rgb(73, 0, 128),
				black
			);
			color: linear-gradient(
				-80deg,
				black,
				rgb(23, 13, 113),
				rgb(73, 0, 128),
				black
			);
			border-radius: 25px;
			padding-right: 20px;
			padding-left: 20px;
			top: 15%;
		}

		#canvas {
			width: 100%;
			height: 100%;
		}

		.overlay-container {
			display: flex;
			position: absolute;
			top: 50%;
			left: 50%;
			align-items: center;
			justify-content: center;
		}

		.overlay {
			position: absolute;
			width: 300px;
			height: 300px;
			background-color: rgba(76, 0, 101, 0.453);
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 1000;
			flex-direction: column;
		}

		.overlay button {
			padding: 3px 6px;
			/* Reduced padding */
			font-size: 1rem;
			/* Reduced font size */
			cursor: pointer;
			position: relative;
			margin-top: -30px;
		}
	</style>
	<h2 id="winner"></h2>
	<div class="game-container">
		<div class="canvas-container">
			<div id="canvas-item" class="canvas-item">
				<canvas id="canvas"></canvas>
			</div>
			<div class="info-container">
				<h2 id="player1score" class="player1">0</h2>
				<h2 id="player2score" class="player2">0</h2>
			</div>
			<div id="overlay-container" class="overlay-container">
				<div class="overlay" id="overlay">
					<h1>Pong Game</h1>
					<h3>Controls</h3>
					<h3>[W and S] || [Up and Down]</h3>
					<h3 id="overlay-text">Press 'Ready!' to start</h3>
					<button id="readyBtn" class="hidden">Ready!</button>
				</div>
			</div>
		</div>
		<div class="chat-container">
			<div id="chat-content" class="chat-content">
				<ul id="chat-message-list" style="list-style-type: none"></ul>
			</div>
			<form id="chat-input-form" class="chat-input">
				<input
					id="chat-input"
					class="chat-input"
					type="text"
					placeholder="Send a message..."
					autocomplete="off"
				/>
			</form>
		</div>
	</div>

	<!-- Quit modal -->
	<div
		class="modal fade"
		id="quit"
		tabindex="-1"
		aria-labelledby="exampleModalLabel"
		aria-hidden="true"
	>
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<p id="winner-msg"></p>
					<button
						id="quit-btn"
						type="button"
						data-bs-dismiss="modal"
						class="btn btn-primary"
					>
						Quit
					</button>
				</div>
			</div>
		</div>
	</div>
</page-element>
