{% load static %}
<page-element name="pong">
	{% include 'navbar.html' with authenticated="true" %}
	<link rel="stylesheet" href="{% static 'css/pong.css' %}">
	<link rel="stylesheet" href="{% static 'css/chat.css' %}">
	<h2 id="winner"></h2>
	<div class="game-container">
		<div class="canvas-container">
			<div id="canvas-item" class="canvas-item">
				<canvas id="canvas"></canvas>
			</div>
			<div class="info-container">
				<h2 id="player1score" class="player1">0</h2>
				<h2 id="player2score" class="player2">0</h2>
			</div>
			<div id="overlay-container" class="overlay-container">
				<div class="overlay" id="overlay">
					<h1>Pong Game</h1>
					<h3>Controls</h3>
					<h3>[W and S] || [Up and Down]</h3>
					<h3 id="overlay-text">Press 'Ready!' to start</h3>
					<button id="readyBtn" class="hidden">Ready!</button>
				</div>
			</div>
		</div>
		<div class="chat-container">
			<div id="chat-content" class="chat-content">
				<ul id="chat-message-list" style="list-style-type: none"></ul>
			</div>
			<form id="chat-input-form" class="chat-input">
				<input
					id="chat-input"
					class="chat-input"
					type="text"
					placeholder="Send a message..."
					autocomplete="off"
				/>
			</form>
		</div>
	</div>

	<!-- Quit modal -->
	<div
		class="modal fade"
		id="quit"
		tabindex="-1"
		aria-labelledby="exampleModalLabel"
		aria-hidden="true"
	>
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<p id="winner-msg"></p>
					<button
						id="quit-btn"
						type="button"
						data-bs-dismiss="modal"
						class="btn btn-primary"
					>
						Quit
					</button>
				</div>
			</div>
		</div>
	</div>
</page-element>
