<page-element name="pong">
	{% include 'navbar.html' with authenticated="true" %}
	<style>
		h1 {
			color: firebrick;
			font-family: 'Courier New', Courier, monospace;
			text-align: center;
			font-size: 2rem;
			top: 0px;
			position: relative;
		}
	
		h2 {
			color: firebrick;
			font-family: 'Courier New', Courier, monospace;
			text-align: center;
			font-size: 2rem;
			bottom: 0px;
			position: absolute;
		}

		nav {
			position: absolute;
		}
	
		#player1score {
			left: 35%;
		}
	
		#player2score {
			right: 35%;
		} 
	</style>
	<div id="abc">
		<h1>Pong Game</h1>
		<h2 id="player1score">0</h2>
		<h2 id="player2score">0</h2>
		<h2 id="winner"></h2>
		<canvas id="canvas" width="900" height="600" display=""></canvas>
	</div>
</page-element>