{% load crispy_forms_tags %}
<page-element name="register" authenticated="false">
    {% include 'navbar.html'%}
    <div class="container">
        <form method="POST" id="form-register" class="mx-auto" style="max-width: 500px;">
            {% csrf_token %}
            <div class="form-group row text-center">
                <h1 class="col-12" style="padding-top: 30px">
                    Create an Account
                </h1>
                <div class="col-12" style="display: flex; flex-direction: column; align-items: center;">
                    {{ registerForm | crispy }}
                </div>
            </div>
            <div class="text-center" style="padding-top: 25px">
                <button type="submit" class="btn btn-outline-light">
                    Register
                </button>
            </div>
        </form>

	<p align="center" style="color: white">or</p>
	<p align="center">
		<a href="javascript:void(0);" class="btn btn-outline-light" id="intra-login">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/42_Logo.svg/800px-42_Logo.svg.png" style="height: 1em; vertical-align: middle; margin-right: 5px;"> 
			Register with 42 Intra
		</a>
	</p>
    </div>
</page-element>