{% load static %}
<page-element name="test" authenticated="true">
	{% include 'navbar.html' with authenticated="true" %}
	<div style="margin: 10px;display: flex;flex-direction: column;align-items: center;flex-wrap: nowrap;align-content: center;justify-content: center;">
		<button id="greenBtn" class="btn-lg btn-success" style="display: flex;">Green</button>
	</div>
	<div style="margin: 10px;display: flex;flex-direction: column;align-items: center;justify-content: center;align-content: center;flex-wrap: nowrap;" "="">
		<button id="redBtn" class="btn-lg btn-danger" style="display: flex;">Red</button>
	</div>
	<div style="margin: 10px;display: flex;flex-direction: column;align-items: center;flex-wrap: nowrap;align-content: center;justify-content: center;">
		<button id="whiteBtn" class="btn-lg" style="display: flex;">White</button>
	</div>

</page-element>