{% load static%}
<page-element name="tournament">
	{% include 'navbar.html' with authenticated="true" %}

	<link rel="stylesheet" href="{% static 'css/tournament.css' %}">
	<link rel="stylesheet" href="{% static 'css/chat.css' %}">

	<div class="tournament-main-container ">
		<div class="tournament-secondary-container">
			<div class="container bracket">
				<ul>
					<li>
						<div id="winner" class="player-div">
							<span>???</span>
						</div>
						<ul id="ul-final">
							<li id="li-final1" style="width: 600px">
								<div id="div-final1" class="player-div">
									<img src="/static/assets/favicon.svg" />
									<span>???</span>
								</div>
								<ul id="ul-semi1">
									<li id="li-p1">
										<div id="div-p1" class="player-div tournament-p1">
											<img src="/static/assets/favicon.svg" />
											<span>Player 1</span>
										</div>
									</li>
									<li id="li-p2">
										<div id="div-p2" class="player-div tournament-p2">
											<img src="/static/assets/favicon.svg" />
											<span>Player 2</span>
										</div>
									</li>
								</ul>
								<!-- <button id="semi-spectateBtn-1" class="spectateBtn" style="display: block;">Spectate!</button> -->
							</li>
							<li id="li-final2" style="width: 600px">
								<div id="div-final2" class="player-div">
									<img src="/static/assets/favicon.svg" />
									<span>???</span>
								</div>
								<ul id="ul-semi2">
									<li id="li-p3">
										<div id="div-p3" class="player-div tournament-p3">
											<img src="/static/assets/favicon.svg" />
											<span>Player 3</span>
										</div>
									</li>
									<li id="li-p4">
										<div id="div-p4" class="player-div tournament-p4">
											<img src="/static/assets/favicon.svg" />
											<span>Player 4</span>
										</div>
									</li>
								</ul>
								<!-- <button id="semi-spectateBtn-2" class="spectateBtn" style="display: block;">Spectate!</button> -->
							</li>
						</ul>
					</li>
					<!-- <button id="final-spectateBtn" class="spectateBtn" style="position: absolute; display: none;">Spectate!</button> -->
				</ul>
			</div>
			<div>
				<button id="TournamentReadyBtn" style="display: none;">Ready!</button>
				<!-- <button id="tournament-start-btn" class="btn btn-primary mb-2" style="display: none;">Start</button> -->
			</div>
		</div>
		<div class="chat-container">
			<div id="chat-content-tournament" class="chat-content">
				<ul id="chat-message-list-tournament" style="list-style-type: none"></ul>
			</div>
			<form id="chat-input-form-tournament" class="chat-input">
				<input
				id="chat-input-tournament"
				class="chat-input"
				type="text"
				placeholder="Send a message..."
				autocomplete="off"
				/>
			</form>
		</div>
	</div>
</page-element>
