.hidden {
    display: none !important;
}

body {
    background: linear-gradient(
        -80deg,
        black,
        rgb(23, 13, 113),
        rgb(73, 0, 128),
        black
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

h1,
h2,
h3, 
h4, 
h5, 
h6 {
    color: white;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #00000069;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 1.1rem;
    border-bottom-left-radius: 1.1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 10px 0 rgba(122, 122, 143, 0.65), 0 4px 10px 0 rgba(124, 124, 143, 0.54);
}

.container.d-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.match-history-card {
    max-width: 400px;
    min-height: 100%;
}

.profile-card, .match-history-card {
    flex: 1 1 50%;
}

.profile-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

#change-photo-button {
    display: block;
}

.form-control {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

input,
textarea,
select {
    color: white !important;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Placeholder transparency */
input::placeholder,
textarea::placeholder {
    color: rgba(
        255,
        255,
        255,
        0.7
    );
}

input:focus,
textarea:focus {
    color: white !important;
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

label {
    color: white !important;
}

#username-edit:disabled {
    background-color: inherit;
    color: inherit;
    opacity: 1;
    cursor: not-allowed;
}

.button-style {
    width: 100%;
    padding: 10px;
    background-color: #7300a8 !important;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    font-size: 16px;
    transition: all 0.3s ease; 
}

.button-style:hover {
    background-color: #8f28d0;
    cursor: pointer;
    transform: translateY(-2px);
    color: white;
}

.button-style:active {
    background-color: #660072;
    transform: translateY(2px);
}

.cancel-button {
    background-color: #e74c3c;
}

.cancel-button:hover {
    background-color: #c0392b;
}

.save-button {
    background-color: #2ecc71;
}

.save-button:hover {
    background-color: #27ae60;
}

#edit-buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.no-matches {
    text-align: center;
    color: gray;
    font-style: italic;
    padding: 10px;
}


/* Match History Section */
.match-history-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container.d-flex {
    align-items: stretch;
}

.match-history-title {
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
    text-align: left;
}

.match-history-scroll {
    max-height: 510px;
    overflow-y: auto;
    padding-right: 10px;
    flex-grow: 1;
}

.match-result {
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 15px;
    border-top: 2px dashed #444;
    margin-top: 10px;
}

.match-result:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.match-date {
    font-size: 14px;
    color: #bbb;
    margin-bottom: 5px;
}

.match-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.match-outcome {
    color: rgb(173, 17, 17);
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.match-outcome.win {
    color: #4CAF50; /* Green for Win */
}

.match-player {
    color: white; 
}

.match-points {
    color: white;
}

/* Scrollbar */
.match-history-scroll::-webkit-scrollbar {
    width: 15px;
}

.match-history-scroll::-webkit-scrollbar-track {
    background: #777;
    border-radius: 10px;
}

.match-history-scroll::-webkit-scrollbar-thumb {
    background: #7300a8; 
    border-radius: 10px;
}

.match-history-scroll::-webkit-scrollbar-thumb:hover {
    background: #8f28d0;
}

button.factor {
    width: 100%;
    background-color: #7300a8;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 16px;
    transition: background-color 0.3s ease;
    padding: 5px;
}

button.factor:active {
    color: white !important;
    background-color: #55007d !important;
    transform: translateY(2px); 
}

button.factor:hover {
    color: white;
    background-color: #55007d; 
    cursor: pointer;
}

button.set:active {
    transform: translateY(2px);
}

/* Error Modal */
.error-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
}

.error-modal-content {
    position: relative;
    margin: auto;
    background-color: #000000c0;
    padding: 20px;
    border-radius: 1.1rem;
    width: 300px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.65);
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
}

.error-modal-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}

#errorMessage {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 15px;
}

#errorMessage ul {
    padding-left: 20px;
}

#errorMessage li {
    list-style-type: disc;
}

#errorOkBtn {
    background-color: #7300a8;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

#errorOkBtn:hover {
    background-color: #8f28d0;
}

.qr-code-img {
    width: 200px;
    height: 200px;
    display: block; 
    margin-top: 10px;
    margin-bottom: 20px;
}

.setup-key-box {
    color: white !important;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.15);
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

p.text-white {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

#current-password:disabled {
    background-color: inherit;
    color: inherit;
    opacity: 1;
    cursor: not-allowed;
}

/* Search Bar Container */
.search-container {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    padding: 5px 15px;
    width: 100%;
    max-width: 100%;
    transition: all 0.3s ease;
}

/* Search Input */
.search-bar {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
    color: white;
}

.search-bar::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Search Button */
#search-btn {
    border: none;
    background-color: #7300a8;
    color: white;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Search Icon */
#search-btn i {
    font-size: 1.2rem;
    color: white;
}

/* Hover Effects */
.search-container:hover {
    background: rgba(255, 255, 255, 0.3);
}

#search-btn:hover {
    background-color: #8f28d0;
    transform: scale(1.1);
}

.search-bar:focus {
    outline: none;
    border: none;
}

.error-body {
    margin: 0;
    padding: 60px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Vertically center content */
    align-items: center; /* Horizontally center content */
    background: linear-gradient(-80deg, black, rgb(23, 13, 113), rgb(73, 0, 128), black);
    color: white;
    font-family: 'Roboto Mono', monospace; /* Cool font */
    height: 100vh;
    text-align: center;
}

.error-container {
    font-size: 20rem;
    color: #7300a8;
    margin: 0;
    text-shadow: 0 0 10px #7300a8, 0 0 20px #8f28d0, 0 0 30px #8f28d0, 0 0 40px #8f28d0;
}

.description {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
}

#error-button {
    padding: 15px 25px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(115, 0, 168, 0.5);
    width: auto;
    max-width: 300px;
}