{% load static %}
{% load crispy_forms_tags %}
<page-element name="login" >
	<form method="POST" id="form-login">
		{% csrf_token %}
		<div class="form-group row" align="center">
			<div class="text-center" style="width: 100%;display: flex;flex-direction: column;align-items: center;">
				<h1 class="row justify-content-center">Login!</h1>
				{{ loginForm | crispy }}
			</div>
		</div>
			<p align="center">
				<input type="submit" class="btn btn-success"></input>
			</p>
		</form>

	<p align="center">or</p>
	<p align="center">
		<a href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-790e83da699ea6cd705470f3c9ee6f0162ce72a1a28f1775537fe2415f4f2725&redirect_uri={{ url }}&response_type=code" class="btn btn-primary">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/42_Logo.svg/800px-42_Logo.svg.png" style="height: 1em; vertical-align: middle; margin-right: 5px;"> 
			Login with 42 Intra
		</a>
	</p>
</page-element>