{% load static %}
<!DOCTYPE html>
<page-element lang="en" page="register">
	<h1 class="row justify-content-center">Create an Account</h1>
	{% load crispy_forms_tags %}
	{% block content %}
	<form method="POST">
		{% csrf_token %}
		<div class="form-group">
			<div class="row justify-content-center">
				<div class="col-6">
					{{ registerForm.username|as_crispy_field }}
					{{ registerForm.password1|as_crispy_field }}
					{{ registerForm.password2|as_crispy_field }}
				</div>
			</div>
		</div>
		<p align="center">
			<input type="submit">Register</button>
		</p>
	</form>
	<p align="center">or</p>
	<p align="center">
		<a href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-790e83da699ea6cd705470f3c9ee6f0162ce72a1a28f1775537fe2415f4f2725&redirect_uri={{ url }}&response_type=code" class="btn btn-primary">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/42_Logo.svg/800px-42_Logo.svg.png" style="height: 1em; vertical-align: middle; margin-right: 5px;"> 
			Register with 42 Intra
		</a>
	</p>
	{% endblock %}
</page-element>