<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block title %}<h1 class="row justify-content-center">Create an Account</h1>{% endblock %}
	{% load crispy_forms_tags %}
	<!-- Boostrap Content Delivery Network(CDN)-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	{% block content %}
	<form method="POST">
		{% csrf_token %}

		<div class="form-group">
			<div class="row justify-content-center">
				<div class="col-6">
					{{ form.username|as_crispy_field }}
					{{ form.email|as_crispy_field }}
					{{ form.password1|as_crispy_field }}
					{{ form.password2|as_crispy_field }}
				</div>
			</div>
		</div>
		<p align="center">
			<button type="submit" class="btn btn-success" >Register</button>
		</p>
	</form>
	{% endblock %}

	<!-- Boostrap Content Delivery Network(CDN)-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>