<page-element name="friends">
	<div class="container mt-5">
		<title>Friends</title>
		<div class="row">
			<div class="col-md-4">
				<h3>Total Friends:</h3>
				<h3>Online Friends:</h3>
			</div>
			<div class="col-md-4">
				<form method="GET">
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Search friends by nickname" name="q">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="submit">Search</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-4">
				<h3>Friend Requests</h3>
			</div>
		</div>
	</div>
</page-element>