<page-element name="friends">
	<div class="container mt-5">
		<title>Friends</title>
		<div class="row">
			<div class="col-md-4">
				<h3>Total Friends: {{ total_friends }}</h3>
				<h3>Online Friends: {{ online_friends }}</h3>
			</div>
			<div class="col-md-4">
				<form method="GET">
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Search friends by nickname" name="q">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="submit">Search</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-4">
				<h3>Friend Requests</h3>
				<ul class="list-group">
					{% for request in friend_requests %}
						<li class="list-group-item">
							{{ request.sender_nickname }}
							<a href="{% url 'accept_request' request.id %}" class="btn btn-success btn-sm float-right ml-2">Accept</a>
							<a href="{% url 'decline_request' request.id %}" class="btn btn-danger btn-sm float-right">Decline</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</page-element>