{% load static %}
{% load crispy_forms_tags %}
<page-element name="profile">
	<title>Profile</title>
	<div class="container mt-5">
		<div class="form-group row" align="center">	
			<h1 class="mb-4">Profile</h1>
			<!-- <div class="col-auto" margin="1">
				<label class="position-absolute" style="cursor: pointer;">
					<input type="file" accept="image/*" style="display: none;" onchange="this.form.submit();">
					<span class="bi bi-pencil"></span>
				</label>
			</div> -->
			<form method="POST" id="form-profile" class="d-inline">
				{% csrf_token %}
				<div class="form-group row" align="center">		
					<div class="text-center" style="width: 100%; display: flex; flex-direction: column; align-items: center;" id="form-center">
						{{ updateProfileForm | crispy }}
					</div>
				</div>

				<!-- {% if user.has_usable_password %}
					<form method="POST" id="changePasswordForm">
						{% csrf_token %}
						<div class="col-xs-7">
							<label for="id-password" class="form-label">Password</label>
							<input type="password" id="id-password" name="password" class="form-control">
							<div id="legend-password" class="form-text">Write your password.</div>
						</div>
					</form>
				{% endif %}

				<div class="mb-4">
					<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
						Delete Account_
					</button>
				</div> -->

				<!-- Save Changes button that only appears if fields have changed -->
				<button type="submit" class="btn btn-primary float-end hidden" id="saveChangesButton">Save Changes</button>
			</form>
		</div>
	</div>
</page-element>
