{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Transcendance</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#/">Transcendance</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					{% if user %}
						{% if user.is_authenticated %}
							<!-- Dropdown for logged-in users -->
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
									<span class="glyphicon glyphicon-user"></span> 
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#/profile">Profile</a></li>
									<li><a href="#/profile/friends">Friends</a></li>
									<li><a href="#">Settings</a></li>
									<li><a href="#/logout">Logout</a></li>
								</ul>
							</li>
						{% else %}
							<!-- Links for users who are not logged in -->
							<li><a href="#/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
							<li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
						{% endif %}
					{% else %}
						<!-- Default when the 'user' context is missing or there are no users -->
						<li><a href="#/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
						<li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>
		<div id = "easter-egg" hidden="true">
			<p>Easter Egg 14/10/2024</p>
			<img src="https://i.seadn.io/gae/gI7SnOY9Upv4skFj6CoLbszEQUOhRtazugsRkK3jJq9icQff4Q3ltjgHebMm93cvbGv7YG1VV75b4swZKuvKsA29x63Luy-MjGp1?auto=format&dpr=1&w=5">
		</div>	
		<script model="" src="{% static 'js/customElement.js' %}"></script>
		{% include 'home/home.html' %}
		{% include 'register/register.html' with registerForm=registerForm %}
		{% include 'login/login.html' with loginForm=loginForm%}
		{% include 'profile/profile.html' %}
		{% include 'profile/friends.html' %}
		<script src="{% static 'js/engine.js' %}"></script>
		<script src="{% static 'js/utils.js' %}"></script>
		<script src="{% static 'js/logout.js' %}"></script>
	</body>
</html>